

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:w;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #b4b4b4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align:left;
  color: #333;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;

}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input {
  width: 45%;
  padding: 70px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

form button {
  width: 45%;
  background-color:;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 10px solid #ddd;
}

th, td {
  padding: 10px;
  text-align:left;
}

th {
  background-color:rgb(70, 152, 41);
  color: #fff;
}

td button {
  margin-right: 5px;
  padding: 5px;
  background-color: #f4d436;
  color: #fff;
  border: none;
  cursor: pointer;
}

td button:hover {
  background-color: #d32f2f;
}
